page-home {
}

ion-content {
	background-image: url(../assets/imgs/fondo.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*BUSQUEDA*/

ion-title{
	box-sizing: border-box;
}

form {
	margin: auto;
	text-align: center;
}

#submit {
	display: none;	
}

form {
	width: 250px;
	margin: 0px auto 0;
	position: relative;
}

form .icon, form .submit {
	width: 28px;
	height: 28px;
	background: #d75813;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	box-shadow:
		0px 5px #bc490a,
		0px 8px 10px rgba(0, 0, 0, 0.5);
}

form .submit {
	background: #009bff;
	cursor: pointer;
	box-shadow:
		0px 5px #0276c1,
		0px 8px 10px rgba(0, 0, 0, 0.5);
}

form .icon:after, form .submit:after  {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	border: 2px solid white;
	border-radius: 50%;
	left: 5px;
	top: 4px;
}

form .icon:before, form .submit:before {
	content: '';
	position: absolute;
	height: 8px;
	width: 2px;
	background: white;
	transform: rotate(-35deg);
	top: 14px;
	left: 16px;
}

/*------------*/

/*TITULO*/

#title{
	width: 100%;
    color: #080CF3;
    font-size: 80px;
    text-align: center;
  }

/*------------*/


.card#img1{
	width: 45%;
	float: left;
}
#img2{
	width: 45%;
	float: right;
}

